name: test

# NOTE: We avoid testing here actions that mutate releases to
# not interfere with the releases here of the backup workflow.
# Those actions are partially tested by the backup workflow
# itself.

on:
  # Run on each commit to this repo.
  push:

  # Run on pull requests.
  pull_request:
    branches:
      - main

  # Daily at 10AM UTC
  schedule:
    - cron: "0 10 * * *"

  # Allow manual activations.
  workflow_dispatch:

permissions:
  # Allow release creation
  contents: write

jobs:
  # --- Tests action get-release-and-package-tags
  test-get-release-and-package-tags:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4

      - name: Get release and package tags
        uses: ./.github/actions/get-release-and-package-tags
        with:
          release-tag-var: RELEASE_TAG
          package-tag-var: PACKAGE_TAG

      - name: Verify release and package tags.
        run: |
          echo "RELEASE_TAG: $RELEASE_TAG"
          if [ "$RELEASE_TAG" != "$(date '+%Y-%m-%d')" ]; then
             echo "Error: Incorrect RELEASE_TAG"
             exit 1
          fi
          echo "RELEASE_TAG is OK"

          echo "PACKAGE_TAG: $PACKAGE_TAG"
          if [ "$PACKAGE_TAG" != "$(date '+%Y%m%d')" ]; then
             echo "Error: Incorrect PACKAGE_TAG"
             exit 1
          fi
          echo "PACKAGE_TAG is OK"

  # -- Test action check-platform
  test-check-platform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4

      - name: Test platform match
        uses: ./.github/actions/check-platform
        with:
          os: linux
          arch: x86_64

      # NOTE: Having this step failing is the expected and normal behavior.
      # Ignore the failure annotation that it leaves with in the workflow logs.
      - name: Test platform mismatch
        id: platform-mismatch
        continue-on-error: true
        uses: ./.github/actions/check-platform
        with:
          os: xyz
          arch: x86_64

      - name: Assert that previous step failed
        uses: ./.github/actions/assert-step-failed
        with:
          outcome: ${{ steps.platform-mismatch.outcome }}
          error-message: "The previous step did not fail as expected"

  # -- Test action format-json-file
  test-format-json-file:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4

      - name: Create actual json file
        run: |
          cat << EOF > actual.json
          {
            "name": "example-project",
            "version": "1.0.0"
          }
          EOF

          cat -n actual.json

      - name: Format the actual file in-place
        uses: ./.github/actions/format-json-file
        with:
          json-file: actual.json

      - name: Create the expected file
        run: |
          cat << EOF > expected.json
          {
            "name"    : "example-project",
            "version" : "1.0.0"
          }
          EOF

          cat -n expected.json

      - name: Compare the expected and the actual files
        run: |
          echo "Expected:"
          cat expected.json
          echo
          echo "Actual:"
          cat actual.json
          echo
          echo "Differences:"
          diff expected.json actual.json

  # -- Test action jason-to-text
  test-json-to-text:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4

      - name: Create the input json file
        run: |
          cat << EOF > input.json
          {
            "name": "example-project",
            "version": "1.0.0"
          }
          EOF

          cat -n input.json

      - name: Convert json to text
        uses: ./.github/actions/json-to-text
        with:
          input-json: input.json
          output-text: actual.txt

      - name: Create the expected file
        run: |
          cat << EOF > expected.txt
          name      : example-project
          version   : 1.0.0
          EOF

          cat -n expected.txt

      - name: Compare the expected and the actual files
        run: |
          echo "Expected:"
          cat expected.txt
          echo
          echo "Actual:"
          cat actual.txt
          echo
          echo "Differences:"
          diff expected.txt actual.txt

  # -- Test action jason-to-text
  test-write-to-json-file:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4

      - name: Create the input json file
        run: |
          cat << EOF > actual.json
          {
            "name": "example-project",
            "version": "1.0.0"
          }
          EOF

          cat -n actual.json

      - name: Add a property to the json file
        uses: ./.github/actions/write-to-json-file
        with:
          json-file: actual.json
          key: test-key1
          value: test-value1

      - name: Overwrite a property in the json file
        uses: ./.github/actions/write-to-json-file
        with:
          json-file: actual.json
          key: version
          value: 2.0.0

      - name: Create the expected json file
        run: |
          cat << EOF > expected.json
          {
            "name": "example-project",
            "version": "2.0.0",
            "test-key1": "test-value1"
          }
          EOF

          cat -n expected.json

      - name: Compare the expected and the actual files
        run: |
          echo "Expected:"
          cat expected.json
          echo
          echo "Actual:"
          cat actual.json
          echo
          echo "Differences:"
          diff expected.json actual.json

  # -- Test action set-env-from-json
  test-set-env-from-json:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4

      - name: Create the input json file
        run: |
          cat << EOF > data.json
          {
            "description": "Test file",
            "version": "1.0.0",
            "name": "example-project"
          }
          EOF

          cat -n data.json

      - name: Set envs vars from json
        uses: ./.github/actions/set-env-from-json
        with:
          json-file: data.json
          mappings: >-
            JSON_NAME      name
            JSON_VERSION   version

      - name: Check extracted vars
        run: |
          echo "JSON_NAME: [$JSON_NAME]"
          if [ "$JSON_NAME" != "example-project" ]; then
             echo "Error: Got an unexpected JSON_NAME value" >&2
             exit 1
          fi

          echo "JSON_VERSION: [$JSON_VERSION]"
          if [ "$JSON_VERSION" != "1.0.0" ]; then
             echo "Error: Got an unexpected JSON_VERSION value" >&2
             exit 1
          fi

  # -- Test action get-apio-version
  test-get-apio-version:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4

      - name: Check apio repo at a known commit
        uses: actions/checkout@v4
        with:
          repository: fpgawars/apio
          ref: 8548ede2dc34a2e1067bb58ee3ef3ad59b9fc04a
          path: apio-repo

      - name: Get apio version from the repo
        uses: ./.github/actions/get-apio-version
        with:
          apio-repo-root: apio-repo
          env-var-name: APIO_VERSION

      - name: Check extracted apio version
        run: |
          echo "APIO_VERSION: [$APIO_VERSION]"
          if [ "$APIO_VERSION" != "1.2.1" ]; then
             echo "Error: Expected apio version '1.2.3'" >&2
             exit 1
          fi

  # -- Test action get-repo-commit
  test-get-repo-commit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4

      - name: Check apio repo at a known commit
        uses: actions/checkout@v4
        with:
          repository: fpgawars/apio
          ref: 8548ede2dc34a2e1067bb58ee3ef3ad59b9fc04a
          path: apio-repo

      - name: Get repo commit
        uses: ./.github/actions/get-repo-commit
        with:
          repo-dir: apio-repo
          env-var-name: REPO_COMMIT

      - name: Check extracted repo commit
        run: |
          echo "REPO_COMMIT: [$REPO_COMMIT]"
          if [ "$REPO_COMMIT" != "8548ede2dc34a2e1067bb58ee3ef3ad59b9fc04a" ]; then
             echo "Error: Got a wrong repo commit" >&2
             exit 1
          fi

  # -- Test action get-repo-info
  test-get-repo-info:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4

      - name: Check apio repo at a known commit
        uses: actions/checkout@v4
        with:
          repository: fpgawars/apio
          path: apio-repo

      - name: Get repo info
        uses: ./.github/actions/get-repo-info
        with:
          repo-dir: apio-repo
          branch-var: REPO_BRANCH
          commit-var: REPO_COMMIT

      - name: Check extracted repo branch
        run: |
          echo "REPO_BRANCH: [$REPO_BRANCH]"
          EXPECTED_REPO_BRANCH="main"
          echo "EXPECTED_REPO_BRANCH: [$EXPECTED_REPO_BRANCH]"
          if [ "$REPO_BRANCH" != "$EXPECTED_REPO_BRANCH" ]; then
             echo "Error: Got an unexpected repo branch" >&2
             exit 1
          fi

      - name: Check extracted repo commit
        run: |
          echo "REPO_COMMIT: [$REPO_COMMIT]"
          EXPECTED_REPO_COMMIT=$(git -C apio-repo rev-parse HEAD)
          echo "EXPECTED_REPO_COMMIT: [$EXPECTED_REPO_COMMIT]"
          if [ "$REPO_COMMIT" != "$EXPECTED_REPO_COMMIT" ]; then
             echo "Error: Got an unexpected repo commit" >&2
             exit 1
          fi

  # -- Test scan-files-for-viruses
  test-scan-files-for-viruses:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - scenario: clean
            data: I am clean
            expected: success
          - scenario: dirty
            data: X5O!P%@AP[4\PZX54(P^)7CC)7}$EICAR-STANDARD-ANTIVIRUS-TEST-FILE!$H+H*
            expected: failure

    name: Test scan-files-for-viruses (${{ matrix.scenario }})

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4

      - name: Create a file with no virus
        run: |
          echo 'hello world' > good.txt
          cat -n good.txt

      # The dirty data which triggers the virus scanner is based on
      # https://en.wikipedia.org/wiki/EICAR_test_file
      - name: Create a file with a potential virus
        run: |
          echo '${{matrix.data}}' > suspect.txt
          cat -n suspect.txt

      - name: Scan for viruses
        id: virus-scan
        continue-on-error: true
        uses: ./.github/actions/scan-files-for-viruses
        with:
          file-patterns: good.* suspect.*

      - name: Assert scan outcome matches expectation
        # if: always()  # Ensures this runs even if the scan step failed
        run: |
          ACTUAL_OUTCOME="${{ steps.virus-scan.outcome }}"
          echo "ACTUAL_OUTCOME: [$ACTUAL_OUTCOME]"

          EXPECTED_OUTCOME="${{ matrix.expected }}"
          echo "EXPECTED_OUTCOME: [$EXPECTED_OUTCOME]"


          if [ "$ACTUAL_OUTCOME" != "$EXPECTED_OUTCOME" ]; then
            echo "Error: Expected scan outcome '$EXPECTED_OUTCOME' but got '$ACTUAL_OUTCOME' (scenario: ${{ matrix.scenario }})." >&2
            exit 1
          fi

          echo "Scan outcome correct: $ACTUAL_OUTCOME (expected $EXPECTED_OUTCOME)."
